# Файл базы SQLite (мы его не коммитим, чтобы у каждого была своя чистая база)
*.db
*.sqlite3

# Виртуальное окружение Python (venv)
venv/
env/
.venv/

# Файл с переменными окружения (НИКОГДА не публикуйте его!)
.env

# Скрытые системные файлы
.DS_Store
Thumbs.db

# Кэш Python
__pycache__/
*.py[cod]

# Логи
*.log

# IDE
.vscode/
.idea/